[Desktop Entry]
Encoding=UTF-8
Name=Gqthres
GenericName=Gqthres
Type=Application
Comment="Locator/Callsign resolver"
StartupWMClass=gqthres
Exec=java -jar /usr/lib/gqthres/gqthres.jar
Terminal=false
Icon=/usr/share/pixmaps/gqthres.png
Categories=HamRadio;
